<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>スプラトゥーン3 戦績管理アプリ(仮)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="ITS,Splatoon3,スプラトゥーン3,戦績管理">
    <meta name="description" content="スプラトゥーン3の戦績管理アプリ">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <script src="https://kit.fontawesome.com/a69c380e0a.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- toggle section -->
<input type="checkbox" id="check">
<label for="check">
    <i class="fa-solid fa-bars" id="hambargerBtn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>

<!-- sidebar section -->
<div class="sidebar">
    <header><a href="{{url_for('Home')}}">Home</a></header>
    <dt><a href="{{url_for('login')}}">ログイン</a></dt>
    <dt><a href="{{url_for('logout')}}">ログアウト</a></dt>
    
    <dl><dt>戦績分析ツール</dt>
        <ul>
            <li><a href="{{url_for('show_json')}}">対戦履歴</a></li>
            <li><a href="{{url_for('show_winrate')}}">勝率</a></li>
            <li><a href="{{url_for('show_winrate_stage')}}">ステージ別勝率</a></li>
            <li><a href="{{url_for('name_search')}}">名前検索</a></li>
            <li><a href="{{url_for('compatibility')}}">ユーザー相性</a></li>
            <li><a href="{{url_for('trend_weapon')}}">環境分析</a></li>
            
        </ul>
    </dl>
</div>
<!-- /sidebar section -->

<!--タイトルなどを画像で出力-->
<div id="container">
<header>
<h1> スプラトゥーン3 戦績管理ツール</h1>
<h1>Spla3 Analyzer</h1>
<h1 id="mainimage"><a href="{{url_for('Home')}}"><img src="{{url_for('static',filename='mainimage_test.png')}}"></a></h1>
</header>





<!--footer

<footer>
<small>Copyright&copy;2022 Team ITS All Rights Reserved.</small>
</footer>

-->




<p id = "blankbox"></p>

</div>
<!--/container-->

</body>
</html>
