<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>スプラトゥーン3 戦績管理アプリ(仮)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
    <script src="https://kit.fontawesome.com/a69c380e0a.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- toggle section -->
<input type="checkbox" id="check">
<label for="check">
    <i class="fa-solid fa-bars" id="hambargerBtn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>

<!-- sidebar section -->
<div class="sidebar">
    <header><a href="{{url_for('Home')}}">Home</a></header>
    <dt><a href="{{url_for('login')}}">ログイン</a></dt>
    <dt><a href="{{url_for('logout')}}">ログアウト</a></dt>
    
    <dl><dt>戦績分析ツール</dt>
        <ul>
            <li><a href="{{url_for('show_json')}}">対戦履歴</a></li>
            <li><a href="{{url_for('show_winrate')}}">勝率</a></li>
            <li><a href="{{url_for('show_winrate_stage')}}">ステージ別勝率</a></li>
            <li><a href="{{url_for('name_search')}}">名前検索</a></li>
            <li><a href="{{url_for('compatibility')}}">ユーザー相性</a></li>
            <li><a href="{{url_for('trend_weapon')}}">環境分析</a></li>
            
        </ul>
    </dl>
</div>
<div id="container">
    <div class="login-box">
        <form action="{{url_for('login')}}" method="post">
            
            <h1>ニンテンドーアカウントでログイン</h1>
            <input type="password" name="password" placeholder="URL"/>
            <input type="submit" name="login-button" value="ログイン"/>
        </form>
        <a href="{{url}}" target="_blank"><h2>Nintendoログイン画面へ</h2></a>
        <div id="explain">
            <ol>
                <li><p>上のURLに飛びNintendoアカウントにログイン(すでにログインしている場合割愛)</p></li>
                <li><p>この人にするというボタンを左クリックし、リンクのアドレスをコピーする</p></li>
                <li><p>コピーしたURLを上記のフォーマットに貼り付けしログインボタンを押す</p></li>
            </ol>
        </div>
    </div>
</div>
<p id = "blankbox" style="background-color: #3f4149;height:2000px"></p>
<!-- /sidebar section -->

</body>