<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ITS_Json_Information</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='show_json.css')}}">
        <script src="https://kit.fontawesome.com/a69c380e0a.js" crossorigin="anonymous"></script>
    </head>
<body>
<!-- toggle section -->
<input type="checkbox" id="check">
<label for="check">
    <i class="fa-solid fa-bars" id="hambargerBtn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>

<div class="sidebar">
    <header><a href="{{url_for('Home')}}">Home</a></header>
    <dt><a href="{{url_for('login')}}">ログイン</a></dt>
    <dt><a href="{{url_for('logout')}}">ログアウト</a></dt>
    
    <dl><dt>戦績分析ツール</dt>
        <ul>
            <li><a href="{{url_for('show_json')}}">対戦履歴</a></li>
            <li><a href="{{url_for('show_winrate')}}">勝率</a></li>
            <li><a href="{{url_for('show_winrate_stage')}}">ステージ別勝率</a></li>
            <li><a href="{{url_for('name_search')}}">名前検索</a></li>
            <li><a href="{{url_for('compatibility')}}">ユーザー相性</a></li>
            <li><a href="{{url_for('trend_weapon')}}">環境分析</a></li>
            
        </ul>
    </dl>
</div>
<!-- /sidebar section -->

<div id="show_json">
        <script>
            var game_count=0;
            var ksum=0;
            var dsum=0;
            var asum=0;
            var win_sum=0;
            var lose_sum=0;
            var krate,drate,arate;
            var game_sum=0;
            var regulargame_sum,bankaragame_sum,xmatchgame_sum,privategame_sum,fes_sum;
            regulargame_sum=bankaragame_sum=xmatchgame_sum=privategame_sum=0;
            fes_sum=0;

            function calc_rate(){
                krate=ksum/game_sum;
                drate=dsum/game_sum;
                arate=dsum/game_sum;
            }

            function print_sum(){
                var elm = document.getElementById('result_sum')
                elm.innerHTML="<h3>全体成績</h3>";
                elm.innerHTML+="<h3>総試合数" + game_sum + "回</h3>";
                elm.innerHTML+="<h3>ナワバリ" + regulargame_sum + "回 " + "フェス" + fes_sum + "回" + "バンカラ" + bankaragame_sum + "回 " + "Xマッチ" + xmatchgame_sum + "回 " + "プライベートマッチ" + privategame_sum + "回 " + "</h3>";
                elm.innerHTML+="<p>キル数:"+ksum+" デス数:"+dsum+" アシスト数:"+asum+"</p>";
                elm.innerHTML+="<p>キルレート:"+krate.toFixed(1)+"% デスレート:"+drate.toFixed(1)+"% アシストレート:"+arate.toFixed(1)+"%</p>";
                
            }
        </script>

        <form action="{{url_for('show_json')}}" method="POST">
            <button type="submit">更新</button>
            
        </form>

        <h1>kaososo's Buttle Result</h1>
        <p id="result_sum">Hello</p>
        
        

        {% for result in df %}


            <div class ="box">
            <details>

            <summary>
            {% if ("WIN"==result['myTeam']['judgement']) %}
                <p id="win">Judgement:{{result['myTeam']['judgement']}}</p>
            {% elif ("LOSE"==result['myTeam']['judgement']) %}
                <p id="lose">Judgement:{{result['myTeam']['judgement']}}</p>
            {% else %}
                <p id="draw">Judgement:{{result['myTeam']['judgement']}}</p>
            {% endif %}
            </summary>

            <script>
                function game_count(){
                    game_sum+=1;
                    mode = {{ result["vsMode"]["mode"]|tojson}}

                    if(mode == "REGULAR")
                        regulargame_sum+=1;
                    else if(mode == "BANKARA")
                        bankaragame_sum+=1;
                    else if(mode == "X_MATCH")
                        xmatchgame_sum+=1;
                    else if(mode == "PRIVATE")
                        privategame_sum+=1;
                    else
                        fes_sum+=1;
                }

                game_count();
            </script>
            <div class="myteam">
           
            <h3>{{result['playedTime']}}</h3>
            <h3>Team Member</h3>
            
        
            {% for i in result['myTeam']['players'] %}
                <h4>{{i['byname']}}</h4> 
                <p><span>{{i['name']}} <img src="{{i['weapon']['image']['url']}}" class="weapon"></span><br>
                   {{i['result']['kill']}}キル {{i['result']['death']}}デス {{i['result']['assist']}}アシスト</p>
                
                

                   

                <script>
                    
                    function sum_result(){
                        
                        var name = {{i['name']|tojson}};
                        if(name == "kaososo"){
                            ksum += {{i['result']['kill']}};
                            dsum += {{i['result']['death']}};
                            asum += {{i['result']['assist']}};
                        }
                        game_count+=1;
                        
                    }

                    sum_result();
                </script>
            
            {% endfor %}
            <h3>Opponent Team</h3>
           
           
            {% for i in result['otherTeams'][0]['players'] %}
                <h4>{{i['byname']}}</h4> 
                <p><span>{{i['name']}} <img src="{{i['weapon']['image']['url']}}" class="weapon"></span><br>
                   {{i['result']['kill']}}キル {{i['result']['death']}}デス {{i['result']['assist']}}アシスト</p>
                
                

                   

                <script>
                    
                    // function sum_result(){
                        
                    //     var name = {{i['name']|tojson}};
                    //     if(name == "kaososo"){
                    //         ksum += {{i['result']['kill']}};
                    //         dsum += {{i['result']['death']}};
                    //         asum += {{i['result']['assist']}};
                    //     }
                    //     game_count+=1;
                        
                    // }

                    //sum_result();
                </script>
            
            {% endfor %}
            
            </div>
            
            <div id="rule">
            <h3>Mode:{{result['vsMode']['mode']}} Rule:{{result['vsRule']['name']}} Stage:{{result['vsStage']['name']}}</h3>
            
            <h3><img src="{{result['vsStage']['image']['url']}}"></h3>
            </div>
            
            <hr size="3">
            </div>
        {% endfor %}

        <script>
            
            calc_rate();
            
            print_sum();    
        </script>
    </div>
</body>
</html>